
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="utf-8">
    <title> insta485 </title>
</head>

<body>
    <header> 
        <nav>  
            <a href="/">insta485</a> | 
            <a href="/explore/">explore</a> | 
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </nav>
        <br></br>
    </header>
    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    
</body>



</html>

